.nav{
     margin:auto;
   
    width:200px;
    height:200px;
}
body{
    background-color: rgb(182, 235, 235);

}
.this{
    background-color: blue;
    border:0;
    height:20px;
    
}


