.this{
    margin:auto;
    background-color: aquamarine;
    width:250px;
    padding: 10px;
}
.this1{
    background-color: rgb(28, 28, 211);
    color: white;
    border:none;
    height:40px;
    margin-right:45px
}
#this1{
    background-color: rgb(28, 211, 202);
    color: white;
    border:none;
    height:40px;
    margin-right:45px
}
.this2{
    background-color: aquamarine;
    margin-top: 10px;
    text-align: center;
}