.page{
    background-color: rgb(27, 13, 8);
    width:100%;
    height: 80px;
}
#image{

    height:50px;
    width:50px;
    margin-left: 10px;
    margin-top: 15px;
}
#up{
    background-color: rgb(184, 130, 59);
    height:30px;
    padding:5px;
}
.down{
    background-color: rgb(235, 211, 182);
}
.nav{
    background-color: cornflowerblue;
    height:50px;
    margin:30px;
    padding:5px;
}
#with{
    background-color: rgb(233, 197, 150);
    color:maroon;
    height:60px;
    margin-top: 10px;
}
.all{
    width: 300px;
    height:150px;
    margin:18px;
    background-color: rgb(109, 140, 150);
    color:white;
    padding:20px;
}
.this{
    width: 300px;
    height:150px;
    margin:18px;
    background-color:rgb(42, 231, 235);
    color:white;
    padding:20px;

} 
.that{
    width: 300px;
    height:150px;
    margin:18px;
    background-color: rgb(6, 91, 124);
    color:white;
    padding:20px;
}
.those{
    width: 300px;
    height:150px;
    margin:18px;
    background-color:rgb(240,23,55) ;
    color:white;
    padding:20px;
}
#all{
    width: 300px;
    height:200px;
    margin:18px;
    background-color: rgb(77, 9, 62);
    color:white;
    padding:20px;
}
.btn{
    height: 30px;
    background-color: rgb(184, 130, 59); 
    padding:5px;
    margin:3px;
}
.this1{
    margin-top: 70px;
    margin-left: 90px;
}
