 body{
    background-color: rgb(169, 236, 230);

   
    
}
.nav {
    
    margin:auto;
    background-color: aquamarine;
    width:200px;
    
     
        
}
.blue{
    background-color: blue;
    border:none;
    color:white;
    padding:5px;
}


#val{
    background-color: rgb(71, 216, 221);
    border:5px;
    padding:5px;
    color:white;
}
.this{
    background-color: aquamarine;
    margin-top: 10px;
    text-align: center;
}


