  body{
      background-color: rgb(235, 211, 182);
  }
  #image{
       height:50px;
        width:50px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
}
.this{
    background-color:  rgb(184, 130, 59);
    height:30px;
    
    padding:5px
}
.this1{
    background-color: cornflowerblue;
    height:200px;
    width:700px;
    margin:auto;
}
.this2{
  text-align  :center;
  padding-top: 60px;
}
.this3{
  background-color: cornflowerblue;
  margin-top: 20px;
  
}
.this4{
  background-color: rgb(184, 130, 59);
  margin-top:15px;
  height:30px;
  padding:10px;
}
.val{
  background-color:  rgb(27, 13, 8);
  
}
.this5{
  border-radius: 20px;
  background-color: rgb(67, 235, 184);
  color:white;
  border:none;
  height: 30px;
}
#this5{
  background-color: rgb(236,56,87);
}